:root {
  --primary-color: greenyellow;
  --secondary-color: rgb(196, 255, 77);
  --body-bg: #111;
  --secondary-bg: #323232;
}

html,
body {
  font-size: large;
  font-family: Arial, sans-serif;
  background-color: var(--body-bg);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

* {
  padding: 5px;
  margin: 5px;
}

 {
}

button,
input {
  text-transform: uppercase;
}

button,
a {
  cursor: pointer;
}

button,
input {
  border-radius: 6px;
  background-color: var(--primary-color);
}

button,
input {
  outline: none;
  border: 1px solid rgb(132, 216, 6);
}

button:hover,
input:focus {
  border: 1px solid rgb(86, 126, 4);
}

button:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3 ease-in-out;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}
